<div class="global">
    
    <h1>About</h1>
    <article>
        <h2>Personal Information</h2>
        <p>some Information</p>
    </article>

    <article>
        <h2>How the coins will be deliverd</h2>
        <p>some Information</p>
    </article>
    <article>
        <h2>Why choose me?</h2>
        <p>some Information</p>
    </article> 
</div>