<div class="main-layout">
    <h1>Contact information</h1>
</div>
<div class="border">
    <table border="1">
        <thead>
            <tr>
                <th>Role</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Admin</td>
                <td>Hugo</td>
                <td>Leander</td>
                <td>hugo.leander@live.se</td>
                <td>076 - XXX XX XX</td>
            </tr>
            <tr>
                <td>Support</td>
                <td>James</td>
                <td>Bond</td>
                <td>james.bond007@gmail.com</td>
                <td>076 - 052 77 31</td>
            </tr>
            <tr>
                <td>Support</td>
                <td>Bonnie</td>
                <td>Clyde</td>
                <td>bonnieandclyde@gmail.com</td>
                <td>021 - 412 63 91</td>
            </tr>
        </tbody>
    </table>
</div>