<h1>Delete this Question?</h1>
<p>Do you really want to delete this question {{faq.question}}?</p>
<form action="/FAQ/{{faq.id}}/delete" method="post">
    <input type="submit" value="Delete it!">
</form>