<h1>Remove this review</h1>
<p>Do you really want to delete this review with the message {{review.description}}?</p>
<form action="/reviews/{{review.id}}/delete" method="post">
	<input type="hidden" name="_csrf" value={{csrfToken}}>
	<input type="submit" value="Remove it!">
</form>