<div class="error-center">
{{#if errors.length}}
    <p>Could not login because:</p>
    <ul>
        {{#each errors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}
</div>

<div class="login-form">

    <form action="/auth" method="post">
        <div class="field">
            <div class="fas fa-envelope"></div>
            <input type="text" placeholder="Username" name="username" required>
        </div>
        <div class="field">
            <div class="fas fa-lock"></div>
            <input type="password" placeholder="Password" name="password" required>
        </div>
        <button>LOGIN</button>    
        <div class="link">
            Not a member?
            <a href="/sign-up">Sign up now</a>
        </div>
    </form>
</div>





