<div class="border">
    <div class="start">
        <h1>Welcome!</h1>
        <p>Welcome to my website </p>
        <p>Where you have the opportunity to buy cheap and reliable FIFA-coins.</p>
    </div>
</div>